<div class="span8 blog-content">
    {% for post in posts %}
        {% if post %}
            {% load pagination_tags %}
            {% autopaginate posts 5 %}
                <article>
                    <div class="article-head-and-content">

                        <div class="page-header">
                            <h1><a href="{{ post.get_absolute_url }}">{{ post.sef_title }}</a><br /><small>{{ post.created }}</small></h1>
                        </div>
                        <div class="post_content">
                            {{ post.hom_content|safe }}
                        </div>
                        <hr />
                        <p class="muted post-info">
                            <p>Kategoriler : {% for category in post.categories.all %}<a href="{{ category.get_absolute_url }}" class="label label-info">{{ category.title }}</a>&nbsp;{% endfor %}</p>
                            <p>Etiketler : {% for tag in post.get_tags %}<a href="/blog/etiket/{{ tag }}/" class="label label-info">{{ tag }}</a>&nbsp;{% endfor %}</p>
                        </p>
                    </div>
                    <div class="well">
                        <a href="{{ post.get_absolute_url }}" class="btn btn-info">Devamini Oku &#x2192;</a>&nbsp;
                        <a href="{{ post.get_absolute_url }}#disqus_thread" class="btn"><span class="dsq-postid">Yorumlar</span></a>
                    </div>
                </article>
            {% paginate %}
        {% endif %}
    {% endfor %}

</div>
{% block extrajs %}
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/prettify.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}