{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block metas %}
    <meta name="keywords" content="python, python türkiye, pytr, python dersleri, {% for tag in post.get_tags %}{{ tag }}, {% endfor %}python programlama" />
    <meta name="description" content="Python Türkiye - {{ post.sef_description }}" />
{% endblock %}
{% block extracss %}<link href="{{ STATIC_URL }}prettify/prettify.css" rel="stylesheet">{% endblock %}
{% block blog %}
    <div class="span8 blog-content">
        <article>
            <div class="article-head-and-content">

                <div class="page-header">
                    <h1>
                        <a href="{{ post.get_absolute_url }}">{{ post.sef_title }}</a>
                        <br />
                        <small>{{ post.created }}</small>
                    </h1>
                </div>
                <div class="post_content">
                    {{ post.content|safe }}
                </div>
                <hr />
                <p class="muted post-info">
                <p>Kategoriler : {% for category in post.categories.all %}<a href="{{ category.get_absolute_url }}" class="label label-info">{{ category.title }}</a>&nbsp;{% endfor %}</p>
                <p>Etiketler : {% for tag in post.get_tags %}<a href="/blog/etiket/{{ tag }}/" class="label label-info">{{ tag }}</a>&nbsp;{% endfor %}</p>
            </div>
            <div class="well">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                    <a class="addthis_button_preferred_1"></a>
                    <a class="addthis_button_preferred_2"></a>
                    <a class="addthis_button_preferred_3"></a>
                    <a class="addthis_button_preferred_4"></a>
                    <a class="addthis_button_preferred_5"></a>
                    <a class="addthis_button_preferred_6"></a>
                    <a class="addthis_button_preferred_7"></a>
                    <a class="addthis_button_preferred_8"></a>
                    <a class="addthis_button_preferred_9"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-504c6d593daec57a"></script>
            </div>
        </article>
        <div class="well">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'halitalptekin'; // required: replace example with your forum shortname
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Lutfen Javascripti Etkinlestiriniz <a href="http://disqus.com/?ref_noscript">Disqus</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">Tesekkurler  <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}prettify/prettify.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-504c6d593daec57a"></script>
{% endblock %}