<div class="span4 sidebar">
    <ul class="unstyled sidebar">
        <aside>
            <div class="well">
                <h3>Hoşgeldiniz !</h3>
                <p>Python Türkiye web sitesinin kaynak kodlarına <a href="https://github.com/halitalptekin/PyTr">buradan</a> ulaşabilirsiniz.</p>
                <p>Sitemiz kısa süreliğine heroku serverlarında barınacaktır.İlginiz için teşekkürler.</p>
                <p><a href="/rss"><span class="label label-warning">RSS</span></a> <a href="/sitemap.xml"><span class="label label-info">Sitemap</span></a></p>

            </div>
        </aside>
        <aside>
            <div class="well">
                <h3>Son Yazilar</h3>
                {% for post in posts %}
                    <ul>
                        {% if post %}
                            <li class="cat-item cat-item-53"><a href="{{ post.get_absolute_url }}" title="{{ post.sef_title }}">{{ post.title }}</a></li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        </aside>
        <aside>
            <div class="well">
                <h3>Kategoriler</h3>
                {% for category in categories %}
                    {% if category %}
                        <ul>
                            <li class="cat-item cat-item-53"><a href="{{ category.get_absolute_url }}" title="{{ category.sef_title }}">{{ category.title }}</a> </li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </aside>
    </ul>
</div>