<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
    <title>{% block title %}Python Turkiye Blog{% endblock %} - {{ site.name }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Halit Alptekin" />
    <meta name="robots" content="index, follow" />
    <meta name="Revisit-after" content="1 days" />
    <meta name="DISTRIBUTION" content="GLOBAL" />
    <meta name="expires" content="never" />
    <meta name="rating" content="general" />
    {% block metas %}
    <meta name="keywords" content="türkiye, python türkiye, Python, piton, akademi, PythonTR, python tr, phyton e-kitap, piython e-book, Python ders, python dersleri,
python türkçe, python 3.1, python-tr, python_tr, py5hon, piton, python nedir,
kitap, Django, Spyder, Django nedir, tkinter, py, *.py, pyton, pytr" />
    <meta name="description" content="Python Türkiye.Türkçe Python Programlama Dili Kaynakları ve Dersleri." />
    {% endblock %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/"/>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/">
    {% block extracss %} {% endblock %}
</head>
<body>
<div class="container">
    <a href="/" id="logo"><img src="{{ STATIC_URL }}img/logo.png" alt="Logo"></a>
    {% include "navbar.html" %}
    <div class="row"><div class="clearfix-header-content visible-phone"></div>
        {% block blog %}{% endblock %}
        {% include "sidebar.html" %}
        {% include "footer.html" %}
    </div>
</div>
{% block extrajs %}{% endblock %}
</body>
</html>
