<div class="span4 sidebar">
    <ul class="unstyled sidebar">

        <aside>
            <h3>Hoşgeldiniz !</h3>
            <p>Sitemizin altyapı özellikleri aşağıdaki gibidir.</p>
            <p>Front-End   : <strong>Bootstrap</strong></p>
            <p>Back-End    : <strong>Django</strong></p>
            <p>Server-Side : <strong>Nginx</strong> ve <strong>Uwsgi</strong></p>
            <p>Database    : <strong>PostgreSQL</strong> ve <strong>MongoDB</strong></p>
        </aside>
        <aside>
            <h3>Kategoriler</h3>
            <ul>
                <li class="cat-item cat-item-53"><a href="#" title="#">Python</a> (5)</li>
            </ul>
        </aside>
        <aside>
            <h3>Etiketler</h3>
            <ul>
                <li><a href="#" title="#">python</a></li>
            </ul>
        </aside>
    </ul>
</div>