{% extends "base.html" %}
{% block blog %}
    <div class="span8 blog-content">
        {% load pagination_tags %}
        {% autopaginate sources 10 %}
        <ul class="thumbnails">
            {% if sources %}
                {% for source in sources %}
                    <li class="span4">
                        <div class="well">
                            <h5>{% if source.title|length >= 40 %} {{ source.title|slice:":40" }}... {% else %} {{ source.title }} {% endif %}</h5>
                            <p>{% if source.description|length >= 45 %} {{ source.description|slice:":45" }}... {% else %} {{ source.description }} {% endif %}</p>
                            <p><a href="{{ source.link }}" rel="nofollow" class="btn btn-primary">Git</a> <a href="{{ source.get_absolute_url }}" class="btn">Ayrintilar</a></p>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% paginate %}
    </div>
{% endblock %}
{% block sidebar %} {% include "sources/sidebar.html" %} {% endblock %}